.header {
  height: 100px;
  background-color: #000000bd;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.title {
  font-family: "pokemon-solid";
  color: white;
  font-size: 32px;
}

.score-board {
  font-family: "pokemon-hollow";
  color: white;
  width: 250px;
  font-size: 20px;
  font-weight: bold;
}

.score-board > div {
  display: flex;
  gap: 5px;
}

.score-board > div > div:nth-child(1) {
  text-align: right;
  width: 200px;
}
