* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "pokemon-solid";
  src: url(./assets/pokemonfont/Pokemon\ Solid.ttf);
}

@font-face {
  font-family: "pokemon-hollow";
  src: url(./assets/pokemonfont/Pokemon\ Hollow.ttf);
}

.board {
  background-color: lightgrey;

  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
}

.level-display {
  margin-top: 5px;
  font-family: "pokemon-solid";
  font-size: 24px;
}

.card-sub-container {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.gameover {
  background-color: white;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loader {
  background-color: #dc211e;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader > img {
  position: fixed;
  height: 40%;
  width: auto;
}

.pokemon-card {
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  margin: 5px;
  border: 3px solid rgb(43, 56, 41);
  background-color: #0a476d;
  box-shadow: rgb(88 88 88) 0px 1px 4px;
  transition: all 200ms ease 0s;
  cursor: pointer;
}

.pokemon-card:hover {
  transition: all 200ms ease 0s;
  transform: scale(1.02);
}

.pokemon-card > * {
  pointer-events: none;
}

.pokemon-card > img {
  height: 175px;
  width: auto;
}

.pokemon-card > div {
  font-family: "pokemon-solid";
  color: white;
  margin-bottom: 3px;
}
